<h1>VIEW</h1>
<%# <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"> %>
  <%= form_tag('/posts', method: :post, authenticity_token: form_authenticity_token ) do -%>
    <%# <input name="utf8" type="hidden" value="&#x2713;" /> %>
    <%# <input name="authenticity_token" type="hidden" value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" /> %>
    <%=   label_tag 'name'%>
    <%= text_field_tag 'user[username]' %>
    <br>
    <%=   label_tag 'email'%>
    <%= email_field_tag 'user[email]' %>
    <br>
    <%=   label_tag 'password'%>
    <%= password_field_tag 'user[password]' %>
    <br>
    <input class="btn btn-primary" name="commit" type="submit" value="Create my account" />
  <% end -%>
  <%# </form> %>
